*{
    margin: 0%;
    padding: 0%;
}
#top{
    background-color: black;
}
#logo img{
    width: 100px;
    margin-left: 18px;
}
.fa-solid{
    color: aqua;
    margin-top: 25px;
    margin-right: 10px;
}
#loc{
    color: white;
}
#loc p{
    height: 12px;
    margin-top: 10px;
}
#phone{
    display: flex;
}
#location{
    display: flex;
}
#nav{
    display: flex;
    justify-content: space-around;
    background-color: #01ABCC;
    height: 80px;
    /* position: relative; */
    z-index: 1111;
}
#haa{
    color: #212529;
    width: 80px;
    height: 44px;
    background-color: white;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    background-color: #D56329;
    color: white;
    width: 100px;
    border: none;
}
.picture {
background-image: url(./slide-3.png);
width: 100%;
height: 30vh;
}
.picture h3{
    color: red;
    font-size: 45px;
    height: 75%;
    padding-top: 124px;
    margin-left: 51px;
}
#text{
    margin-top: 55px;
}
#a{
    color: #01ABCC;
    font-size: 25px;
}
#b{
    font-size: 18px !important;
    color: #666666;
}
#c{
    line-height: 1.7;
    color: #555555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
#uls{
    margin-top: 35px;
}
#p{
    line-height: 1.7;
    color: #666666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 69px;
}
#footer{
    color: #b4aca8;
    font-size: 14px;
    background: #14100f;
}
#footer .footer-top .footer-links ul a {
    color: #b4aca8;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #fd6f41;
}